.root {
  -fx-font-family: Helvetica;
}

#error-label {
  -fx-text-fill: #e76767;
}

#searchbox {
  -fx-background-radius: 15;
  -fx-background-color: white;
  -fx-background-size: 27 27;
  -fx-background-position: right center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: #417bc5;
  -fx-border-width: 0.8pt;
  -fx-border-radius: 15;
  -fx-prompt-text-fill: #8d939d;
}

#patientname-label {
  -fx-text-fill: #324a68ff;
  -fx-font-family: Helvetica;
  -fx-font-size: 17pt;
}

#careplan-label {
  -fx-text-fill: #324a68ff;
  -fx-font-family: Helvetica;
  -fx-font-size: 13pt;
}

#careplan-contentpane {
  -fx-background-color: #f7f9fb;
}

#careplan-tab .tab-label {
  -fx-font-size: 12pt;
  -fx-text-fill: white;
}

#careplan-tab .tab-pane> .tab-header-area> .tab-header-background {
  -fx-background-color: #f7f9fb;
  -fx-border-color: #f7f9fb;
  -fx-outer-border: #f7f9fb;
  -fx-text-box-border: #f7f9fb;
}

#careplan-tab .tab {
  -fx-background-color: #417bc5;
  -fx-border-width: 15px;
  -fx-border-color: #f7f9fb;
}

#careplan-tab .tab:selected {
  -fx-background-color: #8eb9f0;
  -fx-border-width: 15px;
  -fx-border-color: #f7f9fb;
}
#careplan-tab:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-width: 1, 1;
  /*-fx-border-color: -fx-focus-color, -fx-faint-focus-color;*/
  -fx-border-color: transparent;
  -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
  -fx-border-radius: 3, 3;
}
#careplan-tab .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-width: 1, 1;
  /*-fx-border-color: -fx-focus-color, -fx-faint-focus-color;*/
  -fx-border-color: transparent;
  -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
  -fx-border-radius: 3, 3;
}


#todolist .tab-label {
  -fx-font-size: 9pt;
}

#todolist .tab {
  -fx-background-color: #417bc5;
  -fx-border-radius: 0px;
  -fx-border-width: 0px;
  -fx-border-color: #417bc5;
}

#todolist .tab:selected {
  -fx-background-color: white;
  -fx-text-fill: #417bc5;
  -fx-border-color: #417bc5;
  -fx-border-radius: 0px;
  -fx-border-width: 0px;
}

#todolist .tab-pane> .tab-header-area> .tab-header-background {
  -fx-background-color: white;
  -fx-border-color: white;
  -fx-outer-border: white;
  -fx-text-box-border: white;
}
#todolist:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-width: 1, 1;
  /*-fx-border-color: -fx-focus-color, -fx-faint-focus-color;*/
  -fx-background-color: transparent;
  -fx-border-color: #8eb9f0;
  -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
  -fx-border-radius: 3, 3;
}
#todolist .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-width: 1, 1;
  /*-fx-border-color: -fx-focus-color, -fx-faint-focus-color;*/
  -fx-border-color: #8eb9f0;
  -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
  -fx-border-radius: 3, 3;
}

.label {
  -fx-font-family: Helvetica;
}

.button {
  -fx-background-color: transparent;
}
.button:hover {
  -fx-effect: dropshadow(gaussian, rgba(0, 12, 34, 0.5), 10, 0, 0, 0);
}
.button:pressed {
  -fx-effect: innershadow(gaussian, rgba(0, 22, 59, 0.7), 1, 20, 0, 0);
}

.menu-button > .arrow-button {
  -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
  -fx-padding: 0;
}

.combo-box {
  -fx-prompt-text-fill: #324a68ff;
  -fx-font-family: Helvetica;
  -fx-font-size: 15pt;
}

.combo-box .text-field {
  -fx-prompt-text-fill: #324a68ff;
  -fx-font-family: Helvetica;
  -fx-font-size: 15pt;
}

.combo-box .text-field:focused {
  -fx-prompt-text-fill: #324a68ff;
  -fx-font-family: Helvetica;
  -fx-font-size: 15pt;
}

.combo-box-base .text{
  -fx-fill: #324a68ff;
}

.combo-box > .arrow-button > .arrow {
  -fx-background-color: #324a68ff;
  -fx-text-fill: #324a68ff;
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color: #f7f9fb;
}

#todolist .tab:selected .tab-label {
  -fx-text-fill: #417bc5;
}
.list-view {
  -fx-background-color: #f7f9fb;
}
.list-view:focused {
  -fx-background-color: #f7f9fb;
}
.list-view .list-cell:odd {
  -fx-background-color: white;
}
.list-view .list-cell:even {
  -fx-background-color: #f7f9fb;
}
.list-view .list-cell:selected {
  -fx-background-color: #8eb9f0;
}
.check-box:selected > .box {
  /* background color for selected checkbox */
  -fx-background-color: #417bc5;
  -fx-background-radius: 10;
}

.check-box > .box {
  /* background color of unselected checkbox */
  -fx-background-color: #ffffff;
  -fx-background-radius: 10;
  -fx-border-color: #417bc5;
  -fx-border-radius: 10;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
  /* modify mark color */
  -fx-background-color: white;
  -fx-stroke-width: 2;
}
.scroll-bar {
  -fx-background-color: transparent;
  -fx-font-size: 8pt;
}
.scroll-bar .track,
.corner {
  -fx-background-color: transparent;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-background-color: transparent;
  -fx-background-size: 0;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
  -fx-background-color: transparent;
  -fx-background-size: 0;
}
.scroll-bar .thumb {
  -fx-background-radius: 5pt;
  -fx-background-insets: 2, 0, 0;
  -fx-background-color: rgba(83, 153, 251, 0.5);
}
.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
  -fx-background-radius: 5pt;
  -fx-background-insets: 2, 0, 0;
  -fx-background-color: rgba(83, 153, 251, 0.99);
}

#patientinfo-label {
  -fx-font-family: Arial;
  -fx-font-weight: bold;
  -fx-text-fill: #324a68ff;
  -fx-font-size: 10pt;
}
#patientinfo-label:hover {
  -fx-font-family: Arial;
  -fx-font-weight: bold;
  -fx-text-fill: #324a68ff;;
  -fx-underline: true;
  -fx-font-size: 10pt;
}

#cave-button {
  -fx-background-color: #ff5757;
  -fx-text-fill: white;
  -fx-font-family: "Helvetica Neue";
  -fx-font-weight: bold;
  -fx-font-size: 12pt;
  -fx-effect: none;
}
#cave-button:hover {
  -fx-background-color: darkred;
  -fx-text-fill: white;
  -fx-font-family: "Helvetica Neue";
  -fx-font-weight: bold;
  -fx-font-size: 12pt;
  -fx-effect: none;
}

.titled-pane {
  -fx-text-fill: white;
}

.titled-pane > .title
{
  -fx-text-fill: white;
  -fx-font-family: "Helvetica Neue";
  -fx-font-weight: bold;
  -fx-font-size: 12pt;
  -fx-background-color: #ff5757;
  -fx-text-fill: white;
}

#cave .list-view {
  -fx-background-color: white;
}
#cave .list-view:focused {
  -fx-background-color: white;
}
#cave .list-view .list-cell:odd {
  -fx-background-color: white;
}
#cave .list-view .list-cell:even {
  -fx-background-color: white;
}
#cave .list-view .list-cell:selected {
  -fx-background-color: white;
}

.table-view {
  -fx-background-color: #f7f9fb;
}
.table-view:focused {
  -fx-background-color: #f7f9fb;
}
.table-view .table-row-cell:odd {
  -fx-background-color: white;
}
.table-view .table-row-cell:even {
  -fx-background-color: #f7f9fb;
}
.table-view .table-row-cell:selected {
  -fx-background-color: #8eb9f0;
}
.table-view .column-header{
  -fx-background-color: #8eb9f0;
  -fx-border-color: white;
  -fx-border-width: .1
}
.table-view .column-header .label {
  -fx-text-fill: #f7f9fbfd;
}