.dialog-pane {
    -fx-background-color: white;
    -fx-border-color: #f7f9fb;
    -fx-padding: 0;
}

.dialog-pane:header .header-panel {
    -fx-background-color: f7f9fb;
}
.dialog-pane .button {
    -fx-background-radius: 10;
    -fx-background-color: #8eb9f0;
    -fx-text-fill: white;
}
.dialog-pane .button:hover {
    -fx-background-radius: 10;
    -fx-background-color: #417bc5;
    -fx-text-fill: white;
}
.combo-box {
    -fx-prompt-text-fill: #00375b;
    -fx-background-color: #8eb9f0;
    -fx-font-family: Helvetica;
}

.combo-box:hover {
    -fx-prompt-text-fill: #00375b;
    -fx-background-color: #417bc5;
    -fx-font-family: Helvetica;
}

.combo-box .text-field {
    -fx-prompt-text-fill: #00375b;
    -fx-font-family: Helvetica;
}

.combo-box .text-field:focused {
    -fx-prompt-text-fill: #00375b;
    -fx-font-family: Helvetica;
}

.combo-box-base .text{
    -fx-fill: #00375b;
}

.combo-box > .arrow-button > .arrow {
    -fx-background-color: #00375b;
    -fx-text-fill: #00375b;
}