
.root {
    -fx-font-family: Arial;
}
.text-area {
    -fx-background-color: white;
    -fx-border-color: #8eb9f0;
   /* -fx-border-insets: 4 4 6 5, 2 2 5 3;*/
}

.text-area .scroll-pane {
    -fx-background-color: white;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: white;
}


.text-area .scroll-pane .content{
    -fx-background-color: white;
}

#patientname-label {
    -fx-text-fill: #324a68ff;
    -fx-font-family: Helvetica;
    -fx-font-size: 16pt;
}

.tab-label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}
.tab:selected .tab-label {
    -fx-text-fill: #417bc5;
}

.tab {
    -fx-background-color: #8eb9f0;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-color: #8eb9f0;
}

.tab:selected {
    -fx-background-color: white;
}
.tab-pane> .tab-header-area> .tab-header-background {
    -fx-background-color:  #f7f9fbff;
    -fx-border-color:  #f7f9fbff;
    -fx-outer-border:  #f7f9fbff;
    -fx-text-box-border:  #f7f9fbff;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1, 1;
    /*-fx-border-color: -fx-focus-color, -fx-faint-focus-color;*/
    -fx-background-color: transparent;
    -fx-border-color: #8eb9f0;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 3, 3;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1, 1;
    /*-fx-border-color: -fx-focus-color, -fx-faint-focus-color;*/
    -fx-border-color: #8eb9f0;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 3, 3;
}
.tab-pane {
    -fx-background-color: white;
}

#title-label {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #324a68ff;;
}

#careplan-label {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #324a68ff;
    -fx-font-size: 10pt;
}
#careplan-label:hover {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #324a68ff;;
    -fx-underline: true;
    -fx-font-size: 10pt;
}

#diagnosis-label {
    -fx-text-fill: #417bc5;
    -fx-font-weight: bold;
}